#app-body{
	clear:both;
}

#app-header {
	height: 100px;
}

#app-footer {
	height: 100px;
}

#header-top{
	clear:both;
}

#logo>img{
	height:100px;
}

#logo{
	margin:5px;
	clear:both;
}

.errorMessage {
	display: block;
	color: #7f5200;
}
.languages{
	float:right;
}

#calendar{
	width:60%;
	float:right;
}

#appointment-container{
	clear: both;	
}
#doctors-list{
	float:left;
	width:30%;
}