#app-body{
	clear:both;
	padding-top:25px;
	min-height: 500px;
}

#app-header {
	height: 100px;
}

#app-footer {
	height: 100px;
}

#header-top{
	clear:both;
}

#logo>img{
	height:100px;
}

#logo{
	margin:5px;
	clear:both;
}

.errorMessage {
	display: block;
	color: #7f5200;
}
.float-right{
	float:right;
}

#calendar{
	width:60%;
	float:right;
}

#appointment-container{
	clear: both;	
}
#doctors-list{
	float:left;
	width:30%;
	margin-top:45px;
}
#users-list{
	float:left;
	width:30%;
	margin-top:45px;
}
.form-container{
	width:60%;
	margin:auto;
}